<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="mail.css" data-inline="data-inline">
</head>

<body>

  <header>
    <img src="<%= logo %>" alt="<%= applicationName %>">
  </header>

  <div class="main">
    <p>Hello,</p>
    <p><strong>A new certificate has been issued to you!</strong></p>
    <p>To share it with your contacts and manage it, click on the link below:</strong></p>
    <p class="cta"><a href="<%= manageLink %>" class="cta">Manage your certificates</a></p>
    <p>Please also find the PDF version attached in this email. Your certificate is also attached as a .json file which can be viewed on <a href="https://www.blockcerts.org/">Blockcerts.org</a>.</p>
    <p class="signature">The <%= applicationName %> team.</p>
  </div>

  <footer>
    <%- footer %>
  </footer>

</body>

</html>
