<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="mail.css" data-inline="data-inline">
</head>

<body>

  <header>
    <img src="<%= logo %>" alt="<%= applicationName %>">
  </header>

  <div class="main">
    <p>Hello,</p>
    <p>Please click on this link to set a new password:</p>
    <p class="cta"><a href="<%= passwordLink %>" class="cta">Set password</a></p>
    <p class="signature">The <%= applicationName %> team.</p>
  </div>

  <footer>
    <%= footer %>
  </footer>

</body>

</html>
